.nav {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  background-color: transparent;
  margin-left: -12px;
}

.link {
  color: #94a3b8;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 12px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
}

.link:hover {
  color: #A73BBF;
  background-color: #F8EDF8;
}

.active {
  color: #832C96 !important;
  background-color: #F3E0F3 !important;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 12px !important;
  border-radius: 12px !important;
  display: inline-flex !important;
  align-items: center !important;
}